<div class="container-fluid col-4 my-5 mx-auto">
<div class="card mb-3">
  <img src="/eduardo.jpeg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Sobre nosotros</h5>
    <p>En MANGIARE Pizzería-Enoteca preparamos 
    pizzas artesanales neo napolitanas fermentadas 
    con masa madre y maduradas por 48 horas, las cuales 
    preparamos únicamente con mozzarella fior de latte, 
    todos nuestros productos se hacen con los mejores 
    ingredientes ya que todos son locales y los compramos 
    directamente a los productores para garantizar la mejor 
    calidad y apoyo al agro colombiano; también garantizamos 
    la calidad de nuestras carnes, todas criadas con técnicas 
    sostenibles y amigables con el medio ambiente. Somos un 
    restaurante hecho con corazón para ustedes!!</p>
  </div>
</div>

</div>
