
<%#   in class to show allways%>
<nav class="navbar navbar-dark bg-dark mt-5">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
telefonos/wsp| direccion | redes twitter  instagram
    </a>
  </div>
</nav>

